{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# <img src="img/Z4 site FR.jpg" alt="Voiture avec fausse plaque"id="voitureExemple"> #}
    <section id="accueil" >
        <div class="titleHome">
            <img src="{{ asset('img/Z4_site_FR.jpg') }}" alt="voiture avec une fausse plaque" class="sousTitre">
            <h1>PERSONNALISEZ VOS CADRES DE PLAQUE</h1>
            
            <section class="produits">
                <div class="produit">
                    <img src="{{ asset('img/barrette.jpg') }}" alt="Barrette de plaque<" width="500">
                    <h4>Barrette de plaque</h4>
                    <a href="{{ path('commande_exemplaire_barrette') }}" class="btn-bleu">Commander</a>
                </div>
                <div class="produit">
                    <img src="{{ asset('img/cache_plaque.png') }}" alt="Cache de plaque">
                    <h4>Cache de plaque</h4>
                    <a href="{{ path('commande_exemplaire_cacheplaque') }}" class="btn-bleu">Commander</a>
                </div>
                <div class="produit">
                    <img src="{{ asset('img/cadre.png') }}" alt="Cadre de plaque">
                    <h4>Cadre de plaque</h4>
                    <a href="{{ path('commande_cadre') }}" class="btn-bleu">Commander</a>
                </div>
                <div class="produit">
                    <img src="{{ asset('img/crayons.jpg') }}" alt="Forfait graphisme">
                    <h4>Forfait graphisme</h4>
                    <a href="{{ path('app_forfait') }}" class="btn-bleu">Détail</a>
                </div>
            </section>
        </div>
            
        <h3>Vous personnalisez, nous réalisons!</h3>
        <h4>Un outil de personnalisation à votre disposition</h4>
        <section class="outils">
            <div class="creation">
                <h5>Créez vos propres décorations avec l'outil de personnalisation</h5>
                <p>L'outil de personnalisation est à votre disposition pour créer vos propres décoration.</p>
                <p>Utilisez les logos et polices de texte de notre banque de données</p>
                <p>Téléversez vos propres images et police de texte</p>
                <p>Sauvegardez votre décoration dans votre blibliothèque</p>
                <button class="btn-bleu">Créer</button>
            </div>
        </section>
    </section>
{% endblock %}