{% extends 'base.html.twig' %}

{# chargement CSS et JS dédier à cette page #} 
{% block stylesheets %}
    {{ parent() }} {# on conserve ce qui a été chargé dans base.html.twig #}
    {{ encore_entry_link_tags('commande-cacheplaque') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# on conserve ce qui a été chargé dans base.html.twig #}
    {# {{ encore_entry_script_tags('commande') }} #}
    {{ encore_entry_script_tags('commande-cacheplaque') }}
{% endblock %}


{% block title %}Commander des Caches plaque{% endblock %}

{% block body %}


    <div class="disposition-commande">
        <section class="choix-decoration">
            <h2>Choisissez la décoration de vos caches plaque</h2>

            <div class="choix-menu">
                <div class="choix-menu-option">
                    <p>Créer une nouvelle décoration</p>
                    <a href="" class="btn-bleu">Outil de création</a>
                </div>
                <div class="choix-menu-option">
                    <p>Modifier ou supprimer une décoration</p>
                    <a href="{{ path('user_bibliotheque') }}" class="btn-bleu">Bibliothèque</a>
                </div>
            </div>
            <div class="liste-exemplaire">
                {% for exemplaire in exemplaires %}
                    <div class="exemplaire">
                        <div class="exemplaire-info" data-id="{{ exemplaire.id }}" data-produit="{{ exemplaire.produit.id }}">
                            {{ exemplaire.id }} {{ exemplaire.nomExemplaire }}
                            <div class="cacheplaque">
                                {%for marquages in exemplaire.marquages %}
                                    {{ marquages.texteTypo }}
                                {% endfor %}
                            </div>
                            <p> Créer le {{ exemplaire.dateCreation | date("d/m/Y") }}</p>
                        </div>
                        <div class="exemplaire-choix">
                            <button type="button" class="btn-blanc choisir-exemplaire">Choisir cette décoration</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="commande-cacheplaque">
            <h2>Votre commande de caches plaque</h2>

            {{ form_start(formAddPanier) }}
                <div class="exemplaire-commande-avant">Aucun exemplaire sélectionné</div>
                <div class="exemplaire-commande-arriere">Aucun exemplaire sélectionné</div>
                {{ form_widget(formAddPanier.exemplaireAvant) }}
                {{ form_widget(formAddPanier.exemplaireArriere) }}
                {# Champ quantité avant du formulaire #}
                {{ form_row(formAddPanier.quantiteAvant, {'attr': {'class': 'quantite-input'}}) }}
                <div id="prix-unitaire-avant">Prix unitaire avant : 0.00 €</div>
                {# Champ quantité arrière du formulaire #}
                {{ form_row(formAddPanier.quantiteArriere, {'attr': {'class': 'quantite-input'}}) }}
                <div id="prix-unitaire-arriere">Prix unitaire arrière : 0.00 €</div>
                {{ form_row(formAddPanier.validation) }}
                {{ form_row(formAddPanier.submit) }}
            {{ form_end(formAddPanier) }}
           
            <div>
                <div id="prix-avant">Total Avant : 0.00 €</div>
                <div id="prix-arriere">Total Arrière : 0.00 €</div>
                <div id="prix-total">Total : 0.00 €</div>

            </div>


        </section>    
    </div>

{% endblock %} 
