{% extends 'base.html.twig' %}

{# chargement CSS et JS dédier à cette page #} 
{% block stylesheets %}
    {{ parent() }} {# on conserve ce qui a été chargé dans base.html.twig #}
    {{ encore_entry_link_tags('produits') }}
{% endblock %}


{% block title %}Liste des produits{% endblock %}

{% block body %}

<h1>Liste des produits</h1>

<div class="container">
    {% for produit in produits %}

        <div class="produit">
            <h2 class="nom">{{ produit.nomProduit }}</h2>
            <div class"descriptif">
                {{ produit.descriptif }}
            </div>
            {% if produit.id == 4 or produit.id == 5 %}
                <a class="btn-bleu" href="{{ path('commande_cadre') }}">Commander</a>
            {% else %}
                <a class="btn-bleu" href="{{ path('create_exemplaire', {'id': produit.id}) }}">Créer</a>
            {% endif %}
        
        </div>



    {% endfor %}
</div>

{% endblock %}
