{% extends 'base.html.twig' %}

{# chargement CSS et JS dédier à cette page #} 
{% block stylesheets %}
    {{ parent() }} {# on conserve ce qui a été chargé dans base.html.twig #}
    {{ encore_entry_link_tags('commande-cacheplaque') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# on conserve ce qui a été chargé dans base.html.twig #}
    {# {{ encore_entry_script_tags('commande') }} #}
    {{ encore_entry_script_tags('commande-cacheplaque') }}
{% endblock %}


{% block title %}Commander des Caches plaque{% endblock %}

{% block body %}


    <div class="disposition-commande">
        <section class="choix-decoration">
            <h2>Choisissez la décoration de vos caches plaque</h2>

            <div class="choix-menu">
                <div class="choix-menu-option">
                    <p>Créer une nouvelle décoration</p>
                    <a href="" class="btn-bleu">Outil de création</a>
                </div>
                <div class="choix-menu-option">
                    <p>Modifier ou supprimer une décoration</p>
                    <a href="" class="btn-bleu">Bibliothèque</a>
                </div>
            </div>
            <div class="liste-exemplaire">
                {% for exemplaire in exemplaires %}
                    <div class="exemplaire" data-id="{{ exemplaire.id }}" data-produit="{{ exemplaire.produit.id }}">
                        <div class="exemplaire-info">
                            {{ exemplaire.id }} {{ exemplaire.nomExemplaire }}
                            <div class="cacheplaque">
                                {%for marquages in exemplaire.marquages %}
                                    {{ marquages.texteTypo }}
                                {% endfor %}
                            </div>
                            <p> Créer le {{ exemplaire.dateCreation | date("d/m/Y") }}</p>
                        </div>
                        <div class="exemplaire-choix">
                            <button type="button" class="btn-blanc choisir-exemplaire">Choisir cette décoration</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="commande-cacheplaque">
            <h2>Votre commande de caches plaque</h2>

            {{ form_start(formAddPanier) }}
                {{ form_widget(formAddPanier.exemplaireAvant) }}
                {{ form_widget(formAddPanier.exemplaireArriere) }}
                {{ form_row(formAddPanier.quantiteAvant) }}
                <p>Prix unitaire : 1</p>
                {{ form_row(formAddPanier.quantiteArriere) }}
                <p>Prix unitaire : 2</p>
                {{ form_row(formAddPanier.validation) }}
                {{ form_row(formAddPanier.submit) }}
            {{ form_end(formAddPanier) }}
           
            <div>
                <p>Prix unitaire avant: 1</p>
                <p>Prix unitaire arrière: 2</p>
                <p>Total Avant : <span id="prix-avant"> €</span></p>
                <p>Total Arrière : <span id="prix-arriere"> €</span></p>
                <p>Total : <span id="prix-total"> €</span></p>

                <!-- Exemple de prix unitaire stocké dans un attribut data -->
                <input type="hidden" id="prix-unitaire-avant" value="1">
                <input type="hidden" id="prix-unitaire-arriere" value="2">

            </div>


        </section>    
    </div>

{% endblock %} 
