{% extends 'base.html.twig' %}


{% block title %}Liste des options{% endblock %}

{% block body %}

<h1>Liste des options</h1>

"{{ asset('img/exemplaires/barette_default.jpg') }}"
<h2>Liste des fonds</h2>

{% for fond in fonds %}
    {{ fond.couleurFond }}
    <img src="{{ asset('img/' ~fond.urlFond) }}" alt="logo">
    <img src="{{ asset("img/#{fond.urlFond}") }}" alt="logo">
    
    {# {{ fond.urlFond }} #}
    <br>
{% endfor %}
{# {{ asset('public/images/' ~ boutique.getImage()) }} #}

<h2>Liste des logos</h2>

{% for logo in logos %}
    {{ logo.nomLogo }}<br>
{% endfor %}

<h2>Liste des typos</h2>

{% for typo in typos %}
    {{ typo.nomTypo }}<br>
{% endfor %}



{% endblock %}

