<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {# ceci est le lien de fontawesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {# chargement CSS et JS global #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}

    </head>
    <body>

        <header>
            <nav>
                <a class="logo-nav" href="../"><img src="{{ asset('img/cropped-logo-cadre-de-plaque_1.png') }}" alt="logo"></a>
                <a class="lien-nav" href="{{ path('app_produit') }}">Outils de création</a>
                {% if app.user and app.user.roles == ['ROLE_ADMIN'] %}
                    <a class="lien-nav" href="{{ path('admin') }}">Administration</a>                    
                {% endif %}
                <a class="lien-nav" href="{{ path('user_bibliotheque') }}">Bibliothèque</a>
                {% if app.user %}
                    <a class="lien-nav" href="{{ path('app_profil') }}">Mon compte</a>
                    <a class="lien-nav" href="{{ path('app_logout') }}">Me déconnecter</a>
                {% else %}
                    <a class="lien-nav" href="{{ path('app_register') }}">M'inscrire</a>
                    <a class="lien-nav" href="{{ path('app_login') }}">Me connecter</a>
                {% endif %}
                <a href="{{ path('app_panier') }}"><i class="fa-solid fa-basket-shopping"></i></a>
                <a class="lien-nav" href="">FR</a>
                {# <a href="{{ path('app_produit') }}">Liste des produits</a>
                <a href="{{ path('app_exemplaire') }}">Liste des exemplaires</a>
                <a href="{{ path('app_user') }}">Liste des utilisateurs</a>
                <a href="{{ path('app_commande') }}">Liste des commandes</a>
                <a href="{{ path('app_facture') }}">Liste des factures</a>
                <a href="{{ path('app_options') }}">Liste des options</a> #}
                
            </nav>
            <div class="ligne">
            </div>
        </header>
        
            {# message flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash {{ label }}">
                    {{ message }}
                    </div>
                 {% endfor %}
            {% endfor %}

        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        <div class="ligne">
        </div>
        <footer>
            <div class="colonne one">
                <a href="../"><img src="/img/cropped-logo-cadre-de-plaque_1.png" alt="logo"></a>
            </div>
            <div class="colonne two">
                <h5>Mode paiement</h5>
                <img src="/img/Paiement.svg" alt="GB Mastercard Visa">
                <p>100% sécurisée</p>
            </div>
            <div class="colonne three">
                <h5>Nous contacter</h5>
                <p>info@nummerplate.com</p>
            </div>
            <div class="colonne four">
                <h5>Informations légales</h5>
                <p>Mention légales</p>
                <p>Conditions générales de vente</p>
                <p>Données personnels</p>
            </div>
        </footer>
    </body>
</html>
