{% extends 'base.html.twig' %}

{% block title %}Liste des exemplaires{% endblock %}

{% block body %}

<h1>Liste des exemplaires</h1>

{# TODO: obsolete #}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom exemplaire</th>
            <th>Date Création</th>
            <th>Fond</th>
            <th>Logo</th>
            <th>Marquage</th>
            <th>Typo</th>
        </tr>
    </thead>
    <tbody>
        {% for exemplaire in exemplaires %}
        <tr>
            <td>{{ exemplaire.id }}</td>
            <td>{{ exemplaire.nomExemplaire }}</td>
            <td>{{ exemplaire.dateCreation | date("d/m/Y") }}</td>
            <td>{%for fonds in exemplaire.bases %}
                    {{ fonds.fond.couleurFond }}
                {% endfor %} </td>
            <td>{%for logos in exemplaire.decorations %}
                    {{ logos.logo.nomLogo }}
                {% endfor %} </td>
            <td>{%for marquages in exemplaire.marquages %}
                    {{ marquages.texteTypo }}
                {% endfor %} </td>
            <td>{%for marquages in exemplaire.marquages %}
                    {{ marquages.typo.nomTypo }}
                {% endfor %} </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="">Créer un exemplaire</a>

{% endblock %}
