{% extends 'base.html.twig' %}

{# chargement CSS et JS dédier à cette page #} 
{% block stylesheets %}
    {{ parent() }} {# on conserve ce qui a été chargé dans base.html.twig #}
    {{ encore_entry_link_tags('bibliotheque') }}
{% endblock %}

{% block title %}Liste des exemplaires{% endblock %}

{% block body %}

<h1>Liste des exemplaires</h1>

<section class="disposition-bibliotheque">



<div class="tab">
  <button class="tablinks active" onclick="ongletBibliotheque(event, 'liste-barrette')">Vos barrettes</button>
  <button class="tablinks" onclick="ongletBibliotheque(event, 'liste-cacheplaque')">Vos caches plaque</button>
</div>

<div id="liste-barrette" class="tabcontent">
    {% for exemplaire in exemplaires %}
        {% if exemplaire.produit == 'Barrette' %}
            <div class="exemplaire">
                <div class="exemplaire-info" data-id="{{ exemplaire.id }}" data-produit="{{ exemplaire.produit.id }}">
                    {{ exemplaire.id }} {{ exemplaire.nomExemplaire }}
                    <div class="barrette">
                        {%for marquages in exemplaire.marquages %}
                            {{ marquages.texteTypo }}
                        {% endfor %}
                    </div>
                    <p> Créer le {{ exemplaire.dateCreation | date("d/m/Y") }}</p>
                </div>
                <div class="exemplaire-choix">
                    <a class="btn-vert choisir-exemplaire">Commander</a>
                    <a type="button" href="{{ path('delete_exemplaire', {'id' : exemplaire.id}) }}" class="btn-rouge choisir-exemplaire">Supprimer</a>
                
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div id="liste-cacheplaque" class="tabcontent">
    <div id="couple-cacheplaque">
        <div id="liste-cacheplaque-avant">
            <h2>Avant</h2>
            {% for exemplaire in exemplaires %}
                {% if exemplaire.produit == 'Cache plaque avant' %}
                    <div class="exemplaire">
                        <div class="exemplaire-info" data-id="{{ exemplaire.id }}" data-produit="{{ exemplaire.produit.id }}">
                            {{ exemplaire.id }} {{ exemplaire.nomExemplaire }}
                            <div class="barrette">
                                {%for marquages in exemplaire.marquages %}
                                    {{ marquages.texteTypo }}
                                {% endfor %}
                            </div>
                            <p> Créer le {{ exemplaire.dateCreation | date("d/m/Y") }}</p>
                        </div>
                        <div class="exemplaire-choix">
                            <a class="btn-vert choisir-exemplaire">Commander</a>
                            <a type="button"  href="{{ path('delete_exemplaire', {'id' : exemplaire.id}) }}" class="btn-rouge choisir-exemplaire">Supprimer</a>
                        
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="liste-cacheplaque-arriere">
            <h2>Arriere</h2>
            {% for exemplaire in exemplaires %}
                {% if exemplaire.produit == 'Cache plaque arrière' %}
                    <div class="exemplaire">
                        <div class="exemplaire-info" data-id="{{ exemplaire.id }}" data-produit="{{ exemplaire.produit.id }}">
                            {{ exemplaire.id }} {{ exemplaire.nomExemplaire }}
                            <div class="barrette">
                                {%for marquages in exemplaire.marquages %}
                                    {{ marquages.texteTypo }}
                                {% endfor %}
                            </div>
                            <p> Créer le {{ exemplaire.dateCreation | date("d/m/Y") }}</p>
                        </div>
                        <div class="exemplaire-choix">
                            <a type="button" class="btn-vert choisir-exemplaire">Commander</a>
                            <a type="button" href="{{ path('delete_exemplaire', {'id' : exemplaire.id}) }}" class="btn-rouge choisir-exemplaire">Supprimer</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{# <a href="">Créer un exemplaire</a> #}

</section>

<script>
    function ongletBibliotheque(evt, nomProduit) {
    // on déclare les variables
        var i, tabcontent, tablinks;

    // on cache tous les éléments avec class="tabcontent"
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // on retire la class="active" de tous les éléments avec la class="tablink"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    
    // on affiche l'onglet actuel et on ajoute la class="active" au bouton qui ouvre l'onglet
    document.getElementById(nomProduit).style.display = "block";
    evt.currentTarget.className += " active";
    }
</script>


{% endblock %}
